<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script defer src="/javascripts/app.js"></script>
</head>
<body>
<%- include('../partials/nav') %>
    <h1>All Flights</h1>
    <table id="all-flights">
        <thead>
            <tr>
                <th>Airline</th>
                <th>AirPort</th>
                <th>Flight No.</th>
                <th>Departure Date</th>
                <th>Departure Time</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        <% allFlights.forEach(function(f) { %>
            <tr>
                <td><%= f.airline %></td>
                <td><%= f.airport %></td>
                <td><%= f.flightNo %></td>
                <td><%= f.depart.toLocaleDateString() %></td>
                <td><%= f.depart.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) %></td>
                <td><a href="/flights/<%= f._id %>">Details</a></td>
            </tr>
        <% }); %>  
        </tbody>

    </table>
            

</body>
</html>     